
DrillHole3d/data/Kay3_dtm.tif
DrillHole3d/data/GL190031_DEM.tif
DrillHole3d/data/example_with dip.xlsx
DrillHole3d/data/example_with dip.xlsx
DrillHole3d/data/example_lith.xlsx
DrillHole3d/data/example_with dip.xlsx
DrillHole3d/data/exampleTrek_North_Zone_DDH_Database_Master.xlsx
DrillHole3d/data/drill geochemical_combined.csv
DrillHole3d/data/Kay Drill Assay Table.xlsx
DrillHole3d/data/KM-23-103.xlsx
DrillHole3d/data/Trek_North_Zone_DDH_Database_Master.xlsx
DrillHole3d/data/~$Kay Drill Assay Table.xlsx
DrillHole3d/data/~$Trek_North_Zone_DDH_Database_Master.xlsx
example_data/~$Kay Drill Assay Table.xlsx
example_data/~$Trek_North_Zone_DDH_Database_Master.xlsx
example_data/KM-23-103.xlsx
example_data/Kay3_dtm.tif
example_data/Trek_North_Zone_DDH_Database_Master.xlsx
example_data/Kay Drill Assay Table.xlsx
example_data/GL190031_DEM.tif
example_data/exampleTrek_North_Zone_DDH_Database_Master.xlsx
example_data/example_with dip.xlsx
example_data/example_lith.xlsx
example_data/Ethos Drill Logs_Idaho Copper Province_2021.xlsx
example_data/drill geochemical_combined.csv
